@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --primary-color: #000000;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    /* Text Style */
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Oswald', sans-serif;
    --primary-text: #000000;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #151515;
    --text-gray: #e4e4e4;
}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

section {
    padding: 2.125rem 0;
}

.main-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: .0625rem solid var(--primary-color);
    padding: .375rem 1.875rem;
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
}

h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--primary-text);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}

h2 {
    font-size: 3.30rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--primary-text);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--primary-font);
}

h3 {
     
    line-height: 2.875rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

h3 span {
    color: var(--secondary-text);
}

h5 {
    font-size: 1.2rem;
    line-height: 1;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    font-weight: 500;
    font-family: var(--secondary-font);

}

h4 {
    font-size: .8rem;
    line-height: 1;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    font-weight: 500;
    font-family: var(--secondary-font);

}

h6 {
    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}

.offer p{
    font-size: 1.2rem;
    color: var(--text-black);
    line-height: 1.625rem;
    font-weight: 300;
    background: #1b1b1b;
    color: white;
    font-family: var(--primary-font);

}

p {
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
}

.section-title:after {
    content: "";
    background-image: url('../images/title-icon.webp');
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-top: -0.9375rem;
    height: .9375rem;
}

/* 2 Navbar */
.header_wrapper .navbar {
    padding: .9375rem 0;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}

.header_wrapper .navbar-toggler {
    border: 0;
    color: var(--primary-text);
    line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
    margin: 0 .625rem;
}

.header_wrapper .nav-item .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--secondary-text);
}

.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.973);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
    0% {
        top: -30%;
    }

    50% {
        top: -15%;
    }

    100% {
        top: 0;
    }
}

.banner{
    background-image: url(./images/banner.webp);
    
}

/* Collection */

.card{
    cursor: pointer;
}

.countd h3{
    color: white;
    background: #1b1b1b;
}

.card .card-body .btnD:hover{
     background-color: white;
     color: #151515;
     transition: 0.5s ease;
 
}

video {
    width: fit-content;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

 

.brand-info .card {
    border: none;
    flex-direction: row;
    align-items: center;
   
  }
  .brand-info .card-title {
    font-weight: bold;
  }
  .brand-info .card img {
    width: 35%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .card-info{
    text-align: left;

  }

  .card-info p{
    font-size: 12px;
    font-family:var(--primary-font);
    background-color: rgb(240, 240, 240);
    display: inline;
    text-align: start;
    padding: 2px 4px;
    border-radius: 10px;
    line-height: 1;
    margin-bottom: 5px;
    
    
    
    
  }

  .card-info h5{
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .information button:hover{
    color: black;
    background: #f8f8f8;
    transition: 0.5s ease;
  }
 

 .top-orders h5{
    font-weight: 400;
    font-family:var(--primary-font)
 }

 .pic2 {
    display: none;
}
.crosser:hover .pic1 {
    display: none;
}
.crosser:hover .pic2 {
    display: block;
}

.mesaage_wrapper {
    background-color: #f3f3f3;
}

input{
    width: 350px;
    line-height: 2;
    border:1px solid black;
    border-radius: 0;
    padding: 2px 10px;
    font-family: var(--primary-font);
}

.thoughts p{
    font-size: 13px;
}

  